<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👻Ghostring👻</title>
</head>
<body>
	<h1><a href="https://ghostring.neocities.org/ghostring/previous/">&lt;-</a> Ghostring <a href="https://ghostring.neocities.org/ghostring/next/">-&gt;</a></h1>
	
<center>
A webring for ghosts... 
<br>
<img src="https://notmerlin.com/other/horrorgifs/gifs/Skull/Skull%20(41).gif">
<br>
</center>

Webrings may seem as ancient as a ghost story whispered through the ages, but the concept is timeless! 
<br><br>
Each site is a doorway to the next, allowing visitors to drift through cryptic corridors of cyberspace... 
<br><br>

Ghostring's membership is <b>open</b> as a vampire's coffin at midnight! 
<br>
If you run a handmade personal website or blog (and you're willing to add the webring links to your site) you are welcome.
<br><br>
I invite any interested readers, writers, artists, skeptics, dreamers, ghouls, ghosts, and other creatures... 
<br>
Here, the moonlight is always right for sharing stories... 
<br><br>

<h2>Joining</h2>

To join, your site need only be devoid of bigotry & ads. 
<br>
If you'd like to add your site, you can: 
<ul>
<li> <a href="https://neocities.org/site/ghostring">leave a comment on neocities</a>! </li>
<li> <a href="https://github.com/k3rs3d/ghostring">submit a pull request</a>! </li>
<li> <a href="https://hol.ogra.ph/@kern">message me on fedi</a>! </li>
</ul>

<br><br>
<h3>Requirements</h3>
The only required information is your site's <b>URL</b>, and your desired <b>slug</b> (a keyword for your site, e.g. "kersed" for kersed.net). 
<br>
Optionally, you can also include the following for your site listing: 
<ul>
<li>Full <b>title</b> of your site </li>
<li>A brief <b>description</b> of your site </li>
<li>Some form of <b>contact info</b> (email, fedi, neocities, etc) </li>
<li>If you have one, your <b>RSS</b> link </li>
</ul>

<br>
<h3>Webring Code</h3>
Then, add the webring code somewhere on your site. I simply put my links in the footer. 
<br>
Remember to replace "YOUR_SLUG" with your actual slug: 
<br><br>
<code>
&lt;a href="https://ghostring.neocities.org/YOUR_SLUG/previous"&gt;&lt;-&lt;/a&gt;
<br>
&lt;a href="https://ghostring.neocities.org/">Ghostring&lt;/a&gt;
<br>
&lt;a href="https://ghostring.neocities.org/YOUR_SLUG/next"&gt;-&gt;&lt;/a&gt;
</code>
<br><br>

This HTML makes the webring work, allowing new visitors to stumble onto your site. 
<br>
My bespoke webring software (<a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>) generates web pages for each slug, which automatically redirect visitors to the sites adjacent to each other in the webring. 
<br>
It's crucial that every site in the webring has these links (with their slug) accessible on the front page. Otherwise, the ring would be broken, and the site would need to be removed from the list. 
<br><br>

<center>
<img src="https://notmerlin.com/other/horrorgifs/lines/line%20(32).gif">
</center>

<footer><small>
<p>Updated: {{ current_time }} </p>
<p>Launched: 2024-02-04</p>
<p>Powered by <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!</p>
</small></footer>
</body>
</html>