<!-- list.html -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghostring</title>
</head>
<body>
    <h1>Ghostring List</h1>
	Current list of <a href="https://ghostring.neocities.org/">Ghostring</a> members:
	
	<br><br>

    {{ table_of_sites | safe}}

	<br><br>
	
	Interested? Do you have a personal website? 
	<br>
	See the <a href="https://ghostring.neocities.org/">main page</a> for information on how to add your site! 

<br><br>

<center>
<img src="https://notmerlin.com/other/horrorgifs/lines/line%20(32).gif">
</center>

<footer><small>
<p>Last updated: {{ current_time }} </p>
<p>Powered by <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!</p>
</small></footer>
</body>
</html>